{% set miembros = [
                {'nombre': 'Fabian Luciano Fretti', 'apodo': 'Bepi', 'cargo': 'Presidente', 'foto': 'img/comision/fabian-luciano-fretti-bepi.png'},
                {'nombre': 'Agustin Gomez Zalba', 'apodo': '', 'cargo': 'Secretario', 'foto': 'img/comision/agustin-gomez-zalba.png'},
                {'nombre': 'Ariel Martin Gallo', 'apodo': '', 'cargo': 'Tesorero', 'foto': 'img/comision/ariel-martin-gallo.png'},
                {'nombre': 'Eduardo Del Valle', 'apodo': 'Gusa', 'cargo': 'Fundador, Vocal y miembro de Comité de Disciplina', 'foto': 'img/comision/eduardo-del-valle-gusa.png'},
                {'nombre': 'Mathias Quiroz Mendoza', 'apodo': '', 'cargo': 'Vocal y líder de Sub-comisión de Madrinas', 'foto': 'img/comision/mathias-quiroz-mendoza.png'},
                {'nombre': 'Federico Ferraro', 'apodo': '', 'cargo': 'Vocal y líder de Sub-comisión de Marketing', 'foto': 'img/comision/federico-ferraro.png'}
            ] %}
